$smallMargin: 15px;
$bigMargin: 30px;
$topMargin: 3.33vw;
$column-half: calc(100vw / 24);
$column-one: calc(100vw / 12);
$column-two: calc(100vw / 6);
$column-three: 25vw;
$column-four: calc(100vw / 3);
$column-five: calc(500vw / 12);
$column-six: 50vw;
$column-seven: calc(700vw / 12);
$column-eight: calc(200vw / 3);
$column-nine: 75vw;
$column-ten: calc(250vw / 3);
$column-eleven: calc(550vw / 6);
